miniconda_root="$HOME/miniconda3"
export MAMBA_ROOT_PREFIX="$miniconda_root/miniconda3";
export MAMBA_EXE="$MAMBA_ROOT_PREFIX/bin/mamba";

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$($miniconda_root/bin/conda 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$miniconda_root/etc/profile.d/conda.sh" ]; then
        . "$miniconda_root/etc/profile.d/conda.sh"
    else
        export PATH="$miniconda_root/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

# >>> mamba initialize >>>
# !! Contents within this block are managed by 'mamba shell init' !!
__mamba_setup="$("$MAMBA_EXE" shell hook --shell zsh --root-prefix "$MAMBA_ROOT_PREFIX" 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__mamba_setup"
else
    alias mamba="$MAMBA_EXE"  # Fallback on help from mamba activate
fi
unset __mamba_setup
# <<< mamba initialize <<<

eval "$(mamba shell hook --shell zsh)"

mamba activate ThinkStats2
